.search_city_container {
    width: fit-content;
}

.search_city_container #searchWeatherByCityName {
    padding-left: 2rem;
    padding-right: 5rem;
}

.search_city_container #searchWeatherAction {
    background: url("/images/search-icon-light.png") no-repeat center;
    background-size: 24px;
    width: 48px;
    height: 48px;
    background-color: black;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

#weather_card {
    /* background-color: #88a0f9; */
    padding: 20px;
    border-radius: 20px;
    border: 4px solid #d9f0ff !important;
    background-image: linear-gradient(to left, #d9f0ff, #d1eafe, #cae3fc, #c5dcfb, #c1d5f9);
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03), 0 4px 10px rgba(0, 0, 0, 0.02), 0 5px 30px rgba(0, 0, 0, 0.06); */
    box-shadow: 0 1px 4px #abcce045, 0 4px 10px #b2cfe14a, 0 5px 30px #a9cfe73d;
    outline: 1px solid #d0e2f194;
    text-shadow: 0.5px 1px 3px #7994c12e;
    --offset: 2px;
    position: relative;
    overflow: hidden;
    filter: grayscale(1);
    opacity: .85;
}

body[data-weather-card-state="active"] #weather_card {
    filter: grayscale(0);
}

body[data-weather-card-state="active"] #weather_card::before { 
    content: '';
    background: conic-gradient(transparent 270deg, white, transparent);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 2s linear infinite;
}

body[data-weather-card-state="active"] #weather_card::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
}

.weather_card_city {
    background: url("images/pin-icon.svg") no-repeat;
    background-size: 21px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .8px;
    border-bottom: 1px solid #d7eeff;
    padding-bottom: 15px;
    margin-bottom: 20px;
    padding-left: 28px;
    background-position: 0 2px;
}

.weather_card_temp .temp {
    font-size: 6.5rem;
    font-weight: 700;
}

body[data-weather-card-state="active"] .temp::after {
    content: "\00b0";
    font-weight: 100;
    font-size: 4.8rem;
    vertical-align: text-top;
    margin-top: 7px;
    display: inline-block;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}