/* Reset */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
  
img,
picture,
video {
    max-width: 100%;
}

/* Main */
body {
    position: relative;
    background-color: white;
    letter-spacing: 0.4px;
    overflow-x: hidden;
    color: #212529;
    padding: 20px;
}

main,
nav {
    background-image: linear-gradient(to right, #f8f8f9, #f5f5f6, #f2f2f3, #efeef0, #ecebed);
}

section {
    position: relative;
}