---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../assets/css/home.css';
const baseURL = import.meta.env.BASE_URL;
---

<BaseLayout title="WEATHER APP - Home">
	<div class="container-fluid h-60vh d-flex align-items-center" data-anim="fadeout">
		<div class="row align-items-start">
		  <div class="col fadeInUp_anim">
			<div id="headline">
				<h1 class="display-1 fw-bolder">Welcome <br><span>to my web application</span></h1>
				<p class="fs-4 fw-normal mt-4"><em>Get real-time weather updates <br>for location of your choice <span>with this astro app.</span></em></p>
			</div>
			<div class="cta_container mt-4">
				<a href=`${baseURL}/live-data` class="btn btn-dark px-5 py-3 fs-5 mt-5 fw-medium d-flex"><span class="btn-text">Get started</span><span class="arrow-icon"></span></a>
			</div>
		  </div>
		</div>
	  </div>
</BaseLayout>