---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../components/css/live-data.css';
---

<BaseLayout>
	<div class="container-fluid h-60vh d-flex flex-row align-items-center" data-anim="fadeout">
		<div class="row align-items-start w-100">
		  <div class="col-md-6 col-lg-6">
			<div id="headline">
				<h1 id="location_name" class="display-1 fw-bolder"></h1>
				<p class="fs-4 fw-normal mt-4 w-75">
					<em>Please enter the city name below<br>to view its current weather.</em>
				</p>
			</div>
			<div class="search_city_container position-relative mt-4">
                <input type="search" id="searchWeatherByCityName" class="btn btn-white py-4 fs-5 mt-5 fw-medium d-flex rounded-pill text-start" placeholder="Type city name...">
				<button id="searchWeatherAction" class="position-absolute rounded-circle border-0"></button>
			</div>
		  </div>
          <div class="col-md-6 col-lg-6">
				<!-- Weather Card -->
			<div id="weather_card" class="card mb-3 border-0 text-white" style="max-width: 540px;">
				<div class="row g-0">
					<div class="col-12">
						<p class="weather_card_city">Dublin</p>
					</div>
					<div class="col-md-4">
						<img id="weather_card_icon" src="/images/weather-icons/cloud.png" class="img-fluid rounded-start" alt="weather icon">
				  	</div>
				  	<div class="col-md-8">
						<div id="weather_card_details" class="card-body">
					  		<h2 class="weather_card_temp">21</h2>
						</div>
				  	</div>
				</div>
			</div>
          </div>
		</div>
	  </div>
</BaseLayout>

<script>
	import '../components/js/live-data.js';
</script>