---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../components/css/live-data.css';
---

<BaseLayout>
	<div id="live-data-container" class="container-fluid h-60vh px-0 d-flex flex-md-row flex-sm-column align-items-center justify-content-center" data-anim="fadeout">
		<div class="row align-items-start w-100 d-flex flex-column flex-md-row fadeInUp_anim">
		  <div class="col-12 col-md-6 col-lg-6 headline_col">
			<div id="headline" class="d-flex flex-column justify-content-sm-center">
				<h1 id="location_name" class="display-1 fw-bolder"></h1>
				<p class="fs-4 fw-normal mt-4 w-75 location_name_subtext">
					<em>Please enter the city name below <br>to view its current weather.</em>
				</p>
			</div>
			<div class="search_city_container position-relative">
                <input type="search" id="searchWeatherByCityName" class="btn btn-white py-4 fs-5 mt-5 fw-medium d-flex rounded-pill text-start" placeholder="Type city name...">
				<button id="searchWeatherAction" class="position-absolute rounded-circle border-0"></button>
			</div>
			<div class="error_label mt-4">
				<span>Please check for typos or try a different location.</span>
			</div>
		  </div>
          <div class="col-12 col-md-6 col-lg-6 d-flex justify-content-sm-center weather_card_col overflow-hidden fadeInUp_anim">
				<!-- Weather Card -->
			<div id="weather_card" class="noice_anim card mb-3 border-0 text-white">
				<div class="row g-0 z-1">
					<div class="col-12 d-flex flex-row">
						<p class="weather_card_city w-100"></p>
						<p class="weather_card_date position-absolute"></p>
					</div>
					<div class="col-md-4 weather_card_icon_col d-sm-flex">
						<img id="weather_card_icon" src="/images/weather-icons/cloud.png" class="img-fluid rounded-start" alt="weather icon">
				  	</div>
				  	<div class="col-md-8 d-flex align-items-center weather_card_details_col">
						<div id="weather_card_details" class="card-body py-0">
					  		<h2 class="weather_card_temp">
								<span class="temp"></span>
							</h2>
						</div>
				  	</div>
				</div>
			</div>
          </div>
		</div>
	  </div>
</BaseLayout>

<script>
	import '../components/js/live-data.js';
</script>