---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<div class="container-fluid h-60vh d-flex flex-row align-items-center" data-anim="fadeout">
		<div class="row align-items-start w-100">
		  <div class="col-md-6 col-lg-6">
			<div id="headline">
				<h1 class="display-1 fw-bolder">Feature Page</h1>
				<p class="fs-4 fw-normal mt-4 w-75"><em>Lorem ipsum dolor sit amet consecto elit, sed do eiusmod tempor selor.</em></p>
			</div>
			<div class="search_city_container mt-4">
                <input type="search" class="btn btn-white px-5 py-3 fs-5 mt-5 fw-medium d-flex rounded-pill text-start" placeholder="Type city name...">
			</div>
		  </div>
          <div class="col-md-6 col-lg-6">
            [Weather Card]
          </div>
		</div>
	  </div>
</BaseLayout>