---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../components/css/live-data.css';
---

<BaseLayout>
	<div class="container-fluid h-60vh d-flex flex-row align-items-center" data-anim="fadeout">
		<div class="row align-items-start w-100">
		  <div class="col-md-6 col-lg-6">
			<div id="headline">
				<h1 class="display-1 fw-bolder">Feature Page</h1>
				<p class="fs-4 fw-normal mt-4 w-75"><em>Lorem ipsum dolor sit amet consecto elit, sed do eiusmod tempor selor.</em></p>
			</div>
			<div class="search_city_container position-relative mt-4">
                <input type="search" id="searchWeatherByCityName" class="btn btn-white py-4 fs-5 mt-5 fw-medium d-flex rounded-pill text-start" placeholder="Type city name...">
				<button id="searchWeatherAction" class="position-absolute rounded-circle border-0"></button>
			</div>
		  </div>
          <div class="col-md-6 col-lg-6">
            [Weather Card]
          </div>
		</div>
	  </div>
</BaseLayout>

<script>
	import '../components/js/live-data.js';
</script>