---
const baseURL = import.meta.env.BASE_URL;
---
<footer>
    <section>
        <div class="container-fluid">
            <div class="row align-items-start">
              <div class="col py-5">
                <a href="https://github.com/jnfrontend/jn-weather-app" target="_blank" class="d-flex text-decoration-none text-black position-relative">
                  <span>
                    View the source code for this project on GitHub
                  </span>
                </a>
                <img class="mt-4" src=`${baseURL}/images/github-logo.svg` alt="Link to Github account">
              </div>
            </div>
        </div>
    </section>
</footer>