<footer>
    <section>
        <div class="container-fluid">
            <div class="row align-items-start">
              <div class="col">
                © 2025 JN Weather App, all rights reserved.
              </div>
            </div>
        </div>
    </section>
</footer>