<nav class="navbar navbar-expand-lg rounded-4 rounded-bottom-0 px-2" aria-labelledby="primary-navigation">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold fs-6" href="#">WEATHER APP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active fs-6" aria-current="page" href="#"><small>Home</small></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-6" href="#"><small>Live Data</small></a>
                </li>
            </ul>
            <div class="d-flex">
                <a class="nav-link fs-6" href="#"><small>Location</small></a>
            </div>
        </div>
    </div>
</nav>